# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Platform builds
ios/
android/
macos/
linux/
windows/
web/

# IDEs
.idea/
.vscode/
*.iml

# System files
.DS_Store
Thumbs.db


